<!DOCTYPE html>
{% load staticfiles %}
<HTML>
    <HEAD>
        <TITLE>Random Word Generator</TITLE>
        <link rel="stylesheet" href="{% static '/random_word_app/css/styles.css' %}">
    </HEAD>
    <BODY>
        <DIV CLASS='container'>
            <DIV CLASS='all_the_things'>
                <H3>Random Word (attempt {{ request.session.count }} )</H3>
                <DIV CLASS='random_word'>
                    <H1>{{ request.session.word }}</H1>
                </DIV>
                <form action="/generate" method='post'>
                    {% csrf_token %}
                    <input type="submit" value="Generate" />
                </form>
            </DIV>
        </DIV>
    </BODY>
</HTML>